<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Video Capture
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)">
      {{ file.name }}
      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
    </ion-item>
  </ion-list>
  
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="captureVideo()">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  
</ion-content>