<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content> -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Audio Recorder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <ion-tab-button ion-fab   (click)="stopRecord()" *ngIf="recording"><ion-icon color="danger" name="mic-off"></ion-icon>&nbsp;&nbsp;<ion-label>Stop Record</ion-label></ion-tab-button>
        <!-- <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button> -->
        <ion-tab-button  ion-fab (click)="startRecord()" *ngIf="!recording"><ion-icon color="danger" name="mic"></ion-icon>&nbsp;&nbsp;<ion-label>Start Record</ion-label></ion-tab-button>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{audio.filename}}</p>
      <ion-tab-button  class="ops" clear item-end large (click)="playAudio(audio.filename, i)" 
      *ngIf="!playStateList[audio.filename]"><ion-icon name="play"></ion-icon></ion-tab-button>
      <ion-tab-button  class="ops" clear item-end large (click)="pauseAudio(audio.filename, i)" *ngIf="playStateList[audio.filename]"><ion-icon name="pause"></ion-icon></ion-tab-button>
      <ion-tab-button  class="ops" clear item-end large (click)="deleteAudio(audio.filename, i)"><ion-icon name="close-circle-outline"></ion-icon></ion-tab-button>
      <ion-tab-button  class="ops" clear item-end large (click)="renameAudio(audio.filename, i)"><ion-icon name="create"></ion-icon></ion-tab-button>
    </ion-item>
  </ion-list>
</ion-content>