page-home {
    .submit-btn {
        color:#FFF;
        background: rgba(0,0,0,0);
        border-radius: 30px !important;
        border: 1px solid #FFF;
      }
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.search{
	background-color: #fff;
}